
<h4>Complex reactive form123 asdsfd </h4>
<p><small>Group with an array with a group of controls</small></p>
<button (click)="openModal(template)">add</button>

<form [formGroup]="contentForm">
    <div class="container mt-5">
      <label for="tech">Technologies:</label>
      <select formControlName="technologyId" id="tech" (change)="getTuts()">
        <option [value]="null" disabled>Please select Technology</option>
        <option [value]="technology._id" *ngFor="let technology of technologyList">
          {{technology.title}}
        </option>
      </select>
      <img src="/assets/plus-circle-fill.svg" (click)="openModal(template)">
      <label for="tut">Tutorials</label>
      <select formControlName="tutorialId" id="tut" (change)="getConcepts()">
        <option [value]="null" disabled>Please select Tutorial</option>
        <option [value]="tutorial._id" *ngFor="let tutorial of tutorialList">
          {{tutorial.title}}
        </option>
      </select>
      <label for="concepts">Concepts</label>
      <select formControlName="conceptId" id="concepts" (change)="getTopics()">
        <option [value]="null" disabled>Please select Concept</option>
        <option [value]="concept._id" *ngFor="let concept of conceptList">
          {{concept.title}}
        </option>
      </select>
      <button (click)="showForm=true" [disabled]="!conceptId || showForm">Add Topic</button>
    </div>
    <table class="table" *ngIf="conceptId && !showForm">
      <thead>
        <tr>
          <th>Title</th>
          <th>Tagline</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let topic of topicsList">
          <td>{{topic.title}}</td>
          <td>{{topic.tagline}}</td>
          <td>
            <button (click)="deleteTopic(topic._id)">Delete</button>
            <button (click)="editTopic(topic)">Edit</button>
          </td>
        </tr>   
        <tr *ngIf="topicsList">
          <td>No Topics Add One</td>
        </tr>     
      </tbody>

    </table>
    <div *ngIf="showForm">
      <label>Topic Title</label>
      <input type="text" formControlName="title">
      <label>Topic Tagline</label>
      <input type="text" formControlName="tagline">
      <quill-editor formControlName="content"	[modules]="modules">
      </quill-editor>
      <button (click)="saveTopic()" *ngIf="!topicId">Save</button>
      <button (click)="updateTopic()" *ngIf="topicId">Update</button>
      <button (click)="showForm=false">Cancel</button>

    </div>
</form>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #anyForm="ngForm">
      <input type="text" name="fname" (ngModel)="fname">
      <input type="text" name="lname" (ngModel)="lname">
      <button (click)="add(anyForm)">hh</button>
    </form>
  </div>
</ng-template>